.App {
  text-align: center;
}

.App-header {
  background-color: #2f5e41;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headerText {
  color: white;
  font-style: oblique;
  margin-top: -100px;
}

.subText {
  color: whitesmoke;
  font-size: small;
  font-style: italic;
}

.App-link {
  color: #61dafb;
}

.processButton {
  height: 50px;
  width: 180px;
  font-size: large;
}

.resetButton {
  margin-top: 50px;
}

.fileText {
  font-size: 16px;
  margin-top: 0px;
  font-weight: bold;
  padding-left: 4px;
}

.fileHeaderText {
  font-size: 16px;
  margin-top: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
